body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.level-container {
  margin: 0 auto;
  margin-top:50px;
  width: 70%;
  border-radius: 20px;
  text-align: center;
}

.level-title {
  display: inline-block;

}

.level-selector {
  display: inline-block;
}

.activity-section{
  margin-top:50px;
  margin-bottom:50px;
}
