 body  {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}


ul {
  list-style-type: none;
}
.page-links ul li {
  display: block;
  margin-top: 50px;
  width: 300px;
}
p {
  padding: 10px 10px 10px 10px;
  background-color: white;
  border: 1px solid black;
  width: 200px;
  border-radius:15px;

}

a {
  color: #000;
  text-decoration: none;

}

.btn-group {
  margin-top:25px;
}

.points {
  background-color: grey;
  width:50%;
  color:white;
}

.panel-group {
  margin-top:50px;
  padding-top:10px;
  padding-bottom:10px;
}

.new-goal-button {
  float: right;
  margin-right:10px;
}


.activity-section {
  margin-top: 150px;
  display:inline-block;
  position:relative;
}
