body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}
#home-screen-text h1 {
  margin: 0px 0px 0px 0px;
}
#home-screen-text h2 {
  margin: 50px 0px 0px 0px;
}
ul {
  list-style-type: none;
}
.page-links ul li {
  display: block;
  margin-top: 50px;
  width: 300px;
}
p {
  padding: 10px 10px 10px 10px;
  background-color: grey;
  border: 1px solid black;
  width: 200px;
}
a {
  color: #000;
  text-decoration: none;
}

.points {
  background-color: grey;
  width:350px;
}
